{% extends "base_map.html" %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}" />

{% if current_user.is_authenticated %}
<h1 class="map_title">
  Welcome to the Map, {{ name }}!
</h1>
{% endif %}
<div class="row">
  <div class="col-sm-8">
    <div id="mapid" style="height:100vh;"></div>
  </div>
  <div class="col-sm-4">
    <div id="sidePanel">
      <p onclick="toggleDimensione();">Legend</p>

      {% if current_user.is_authenticated %}

        {% from "_formhelpers.html" import render_field %}
        <form method=post>
          {{ form.csrf_token }}
          <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.coordinates) }}
          </dl>
          <p><input type=submit value=Submit>
        </form>
      {% endif %}

    </div>
  </div>
</div>
<script>
function toggleDimensione() {
  var sidebar = document.getElementById('sidePanel');
  sidebar.classList.toggle("barraPiccola");
  console.log('cliccato');
}
</script>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<script src="{{ url_for('static', filename='map.js') }}" charset="utf-8"></script>
{% endblock %}
