{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}" />

{% for category, message in get_flashed_messages(with_categories=true) %}
    <p class="flash_message {{ category }}">{{ message }}</p>
{% endfor %}

<div class="row mapcontainer">
  <div id="mapid_container" class="col-sm-12 ml-0 p-0">
      <div id="mapid"></div>
  </div>
  <div class="col-sm-9 hero mr-0 ml-0 p-0" id="mappage_container" style='display:none;'>
    <div class="row">
        <div class="col-8">
          <div class="card card-body">        
            {% if current_user.is_authenticated %}

            {% from "_formhelpers.html" import render_field %}
            <form method=post>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <dl>
                {{ render_field(form.name) }}
                {{ render_field(form.latitude) }}
                {{ render_field(form.longitude) }}
                {{ render_field(form.body) }}
              </dl>
              <p><input type=submit value=Submit class="form-control">
            </form>
          {% endif %}

          </div>
        </div>
        <div clss="col-3" class="text-info">
          <h4>Ask The community</h4>
          <hr>
          <p>Loret Ipsum ...</p>
          <h5>Theme</h5>
          <p>Loret Ipsum ...</p>
          <h5>Contributors</h5>
          <p>Loret Ipsum ...</p>
          <h5>Organizations</h5>
          <p>Loret Ipsum ...</p>
        </div>
    </div>    
  </div>
</div>



<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js"></script>
<script src="{{ url_for('static', filename='map.js') }}" charset="utf-8"></script>

<script>
  ClassicEditor
      .create( document.querySelector( '#body' ), {
        //plugins: [ Base64UploadAdapter ]
      } )
      .catch( error => {
          console.error( error );
      } );

      {% for point in points %}
        var marker = L.marker([{{point.latitude}},{{point.longitude}}]).addTo(mymap).on('click', onClick);
        marker.key = {{point.id}};
      {% endfor %}

</script>

{% endblock %}
