#mapid { 
    width:auto;
    height: 100%; 
}

.mapcontainer{
    padding:0;
    margin:0;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
}

.fullheight{
    height: calc(100% - 3rem);
    width: 100%;
    max-width: 100%!important;
    padding: 0;
    margin: 0;
    left: 0;
    top: 3rem;
}