#mapid { 
    width:auto;
    height: 100%; 
}

.mapcontainer{
    padding:0;
    margin:0;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
}

.fullheight{
    height: calc(100% - 3rem);
    width: 100%;
    max-width: 100%!important;
    padding: 0;
    margin: 0;
    left: 0;
    top: 3rem;
}

#sidePanel{
    background-color: #8baab5a6;
    z-index: 1000;
    position: absolute;
    width: 25%;
    height: 80%;
    top: 10%;
    right: 1%;
}

