html{
    overflow-y: auto!important;
}

.map_title{
    position:absolute;
    color:red;
}

.btn-warning {
    color: #ffffff!important;
    background-color: #50457b!important;
    border-color: #7364af!important;
}

.hero-body {
    position: relative;
    width: 100%;
    background-image: url(/static/img/back.jpg)!important;
    background-repeat:no-repeat; 
}

.has-text-centered {
}

.hero.is-primary {
    background-color: #ececec;
    color: #fff;
}

.center-title{
    padding:2rem;
    border-radius:20px;
    background-image: linear-gradient(to right, #565e58a1,#a1c1da85);
}